<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Help Desk</mat-card-title>
        <mat-card-subtitle>Infos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Home image">
    <mat-card-content>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa a tempore distinctio expedita et dicta
            incidunt, aperiam soluta similique dolor consequuntur sint hic nisi voluptatibus quas, aut deleniti impedit
            dolore laborum tenetur ratione! Neque libero quis dolor? Officia fugiat quo temporibus ratione modi nam
            animi earum sint tempore accusantium porro quaerat cum aut aliquid, distinctio, magni corrupti iure
            perferendis accusamus! Sit, aut sunt nobis molestias inventore vitae quaerat ea repudiandae eius eaque
            distinctio laboriosam. Est labore optio alias quos minus!
        </p>
    </mat-card-content>
</mat-card>