<div class="container">
    <form class="form">
        <h1 class="fullWidth">Atualizar Técnico</h1>
        <img class="fullWidth" src="assets/img/tecnico-create.svg" alt="Moço olhando uns gráficos">

        <section class="section">
            <mat-checkbox (click)="addPerfil(0)" color="primary" class="margin">Admin</mat-checkbox>
            <mat-checkbox (click)="addPerfil(1)" [checked]="true" [color]="['primary']" class="margin">Cliente</mat-checkbox>
            <mat-checkbox (click)="addPerfil(2)" color="primary" class="margin">Técninco</mat-checkbox>
        </section>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Nome</mat-label>
            <input [(ngModel)]="tecnico.nome" name="nome" [formControl]="nome" required matInput placeholder="Clebinho">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>CPF</mat-label>
            <input [(ngModel)]="tecnico.cpf" name="cpf" [formControl]="cpf" required matInput placeholder="***.***.***-**" mask="000.000.000-99">
            <mat-icon matSuffix>123</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="tecnico.email" name="email" [formControl]="email" required matInput placeholder="clebinho@gmail.com">
            <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Senha</mat-label>
            <input [(ngModel)]="tecnico.senha" name="senha" [formControl]="senha" required type="password" matInput placeholder="coxinha123@">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <button routerLink="../../" class="mat-elevation-z8" mat-stroked-button color="warn">Cancelar</button>
        <button (click)="update()" [disabled]="!validaCampos()" class="button-cadastro mat-elevation-z8" mat-flat-button
            color="primary">Atualizar</button>
    </form>
    <p>By Reguera-Front</p>
</div>